@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Saira:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');

  

html {
     font-size: 22px;
     scroll-behavior: smooth;
  color: #fff;
}
body { 
    padding: 0;
    background-color: #000000;
    margin: 10px;
}
h1 {
  
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
  margin: 10px 0px;
}
.navbar-header {
  align-items: center;
  margin:10px auto;
}
.navbar-brand {
  text-decoration: none;
  font-family:"Lugrasimo", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
 color: #ffffff ;
padding: 20px 10px;
     margin:0px auto;

}
 .Email {
   margin: 5px auto;
 }
 .CTA {
   font-family: 'poppin', 'sans-serif';
   font-weight: 500;
   font-size: 25px;
   color:#3400ff ;
   text-decoration: none; 
   padding: 20px 10px;
      margin:0px auto;

 }

 .CTA:hover {
  color: #fff ;
  background-color:#3400ff;
  padding: 15px 10px;
  border-radius: 25px;
 }


.cards {
    display: grid;
    gap: 1rem;
    margin: 10px;
    grid-template-columns:  auto 25% 25% auto;
    grid-template-rows:  auto;
    grid-template-areas:
    "a b b c"
    "a d e e"
    "f f e e"
    "g g g h"
    "g g g i"
    "g g g j"
    "k k k l"
    "k k k m"
    "k k k n"
    "o o o p"
    "o o o q"
    "o o o r"
    "s s s s"
    "s s s s"
    "z z z z"
 
    ;
}

   @media screen and (max-width: 725px) {
    .cards {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows:  auto;
      grid-auto-rows:auto ;
      margin: 10px;
      gap: 1rem;
      grid-template-areas:
        "a b"
        "c d"
        "e f"
        "g h"
        "i j"
        "k l"
        "l m"
        "n o"
        "p q" 
        "r s"
        "z z"
  
        ;
    }
  }
  
  @media only screen and (max-width: 450px) {
    .cards {
      display: grid;
      gap: 1rem;
      margin: 10px;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-auto-rows:  auto;
      grid-template-areas:
      "a" 
      "b"
      "c"
      "d"
      "e"
      "f"
      "g"
      "h"
      "i"
      "j"
      "k"
      "l"
      "m"
      "n"
      "o"
      "p"
      "q"
      "r"
      "s"
      "z"
    ;
    }
  
  }

.intro {
  grid-area: a;
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
padding: 10px;
  }

  .card2 {
    grid-area: b;
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
padding: 10px;
  
  text-align: row-reverse;

  }
  .card3 {
    grid-area: c;
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
padding: 10px;
  
  direction: rtl;
  

  }
  .card4 {
    grid-area: d;
     /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
padding: 10px;
}
  .card5 {
    grid-area: e;
   /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
padding: 10px;
  
  
  }
  .card6 {
    grid-area: f;
   /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
padding: 10px;
  
  
  }


  .card7 {
    grid-area: g;
   /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
padding: 10px;
    margin-top: 20px;
  
  
  }
.card8{
    grid-area: h;
   /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
padding: 10px;
  margin-top: 20px
  
  
  }
.card9 {
    grid-area: i;
   /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
padding: 10px;
  
  
  }
.card10 {
    grid-area: j;
   /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
padding: 10px;
  
  
  }
.card11 {
    grid-area: k;
   /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
padding: 10px;
    margin-top: 20px
  
  
  }
.card12{
    grid-area: l;
   /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
padding: 10px;
  margin-top: 20px
  
  
  }
.card13 {
    grid-area: m;
   /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
padding: 10px;
  
  
  }
.card14 {
    grid-area: n;
   /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
padding: 10px;
  
  
  }
.card15 {
    grid-area: o;
   /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
padding: 10px;
    margin-top: 20px
  
  
  }
.card16{
    grid-area: p;
   /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
padding: 10px;
  margin-top: 20px
  
  
  }
.card17 {
    grid-area: q;
   /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
padding: 10px;
  
  
  }
.card18 {
    grid-area: r;
   /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
padding: 10px;
  
  
  }
.card19 {
    grid-area: s;
   /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
padding: 10px;
  }

.EM {
  text-decoration: none;
}



 .card21 {
    grid-area: z;
     /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;  
}
  .socials {
  
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
  ul {
  display: contents;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  margin: 0 auto;
  
  }
  
  ul li {
  list-style: none;
  }
  
  ul li a {
  width: 80px;
  height: 80px;
  background-color: #fff;
  text-align: center;
  line-height: 0px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #262626;
  z-index: 1;
  margin-bottom: 20px;
  flex-basis: 50%; /* this makes sure there are two items per row */
  }
  
  ul li a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  line-height: 2;
  z-index: 3;
  }
  
  ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
  }
  
  ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
  line-height: 2;
  }
  
  ul li a:hover:before {
  top: 0;
  }
  
  ul li:nth-child(1) a:before{
  background: #3b5999;
  }
  
  ul li:nth-child(2) a:before{
  background: #55acee;
  }
  
  ul li:nth-child(3) a:before {
  background: #0077b5;
  }
  
  ul li:nth-child(4) a:before {
  background: #dd4b39;
  }
  ul li:nth-child(5) a:before {
    background: #0088cc;
  }
  ul li:nth-child(6) a:before {
    background: #053eff ;
  }
